<h1>Empty state</h1>

<p>Use an empty state to communicate status when there are no results.</p>

<article>
    <h2>Default</h2>
    Use cases
    <ul class="list-disc list-inside">
        <li>When a user attempts to view a record, but it doesn't exist</li>
        <li>When a user performs a search, but there are no matching results</li>
    </ul>
    <div class="example">
        <div class="empty-state">
            <h3>No delivery addresses found</h3>
            <p>
                Add a delivery address for it to show up here.
            </p>
            <div class="buttons">
                <button class="btn-primary">Add</button>
            </div>
        </div>
    </div>

    An empty state consists of the following
    <ol class="list-decimal list-inside">
        <li>(optional) illustration, optional (TODO: add in example)</li>
        <li>a concise title of current state</li>
        <li>(optional) a short message providing reason of state and instructions for the user</li>
        <li>(optional) buttons for actions that user can take</li>
    </ol>

</article>

<article>
    <h2>References</h2>
    <ul>
        <li>https://www.nngroup.com/articles/empty-state-interface-design/</li>
    </ul>
</article>