<!--https://docs.pega.com/user-experience/85/deferred-loading-content
https://developers.google.com/search/docs/advanced/javascript/lazy-loading
https://web.dev/lazy-loading/

TODO: url
-->
<header>
    <h1>Content</h1>
</header>

<article>
    <h2>Primary content</h2>
    <p class="text-block">Primary content is the essential of the current page. It helps the user quickly identify what's being looked at.
        On a detail page, it typically needs to be loaded before anything else because other requests depend on it.
        Primary content is what should be used to determine status of the page -- success or not found.</p>
</article>

<article>
    <h2>Secondary content</h2>
    <p class="text-block">Secondary content is information related to the primary content. Loading of secondary content can be deferred
        (display page even when secondary content is still being fetched) to display information to user sooner.
    </p>
    <p class="text-block">
        User should be given an option to reload in case of failure if it is something critical to the page experience.
        Otherwise, loading error can be ignored.
    </p>
</article>