<header>
    <h1>Alerts</h1>
    <p class="prose">
        Use alerts to display an inline message to the user. Illustration of idea only. Styles and color selection need to be done.
    </p>
</header>

<article>
    <h2>Info</h2>
    <div class="alert info" role="alert">
        <div class="title">Optional title</div>
        <div>A simple alert with text</div>
    </div>
    <h2>Success</h2>
    <div class="alert success" role="alert">
        <div class="title">Optional title</div>
        <div>A simple alert with text</div>
    </div>
    <h2>Error</h2>
    <div class="alert error" role="alert">
        <div class="title">Optional title</div>
        <div>A simple alert with text</div>
    </div>
    <h2>Warning</h2>
    <div class="alert warning" role="alert">
        <div class="title">Optional title</div>
        <div>A simple alert with text</div>
    </div>
</article>