<header>
  <h1>Skeleton loader</h1>
  <p class="prose">
    Use this to communicate loading state of secondary content.
  </p>
</header>

<article>
  <h2>Default</h2>
  <div class="example">
    <div class="skeleton-loader p-4 w-full">
      <div class="animate-pulse flex space-x-4">
        <div class="flex-1 space-y-6 py-1">
          <div class="grid gap-y-2">
            <div class="h-3 bg-gray-100 w-32"></div>
            <div class="h-4 bg-gray-100 w-64"></div>
            <div class="h-3 bg-gray-100 w-32"></div>
            <div class="h-4 bg-gray-100 w-64"></div>
            <div class="h-3 bg-gray-100 w-36"></div>
            <div class="h-4 bg-gray-100 w-64"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>