<header>
    <h1>Progress bar</h1>
    <p class="prose">Use a progress bar to communicate progress to user. Only identified use case so far is when page
        transitions.</p>
</header>

<article>
    <h2>Indeterminate</h2>
    <div class="demo">
        <div class="example">
            <app-page-progress-bar></app-page-progress-bar>
        </div>
        <div class="example-template">
            <code>
                <pre>
                    &lt;app-page-progress-bar&gt;&lt;/app-page-progress-bar&gt;
                </pre>
            </code>
        </div>
    </div>
</article>