<header>
    <h1>Progress bar</h1>
    <p class="prose">Use a progress bar to communicate progress to user. Only identified use case so far is when page
        transitions.</p>
</header>

<article>
    <h2>Indeterminate</h2>
    <div class="demo">
        <div class="example">
            <mz-page-loading-indicator [isLoading]="isLoading"></mz-page-loading-indicator>
        </div>
        <div class="example-template">
            <code>
                <pre>
                    &lt;mz-page-loading-indicator [isLoading]="isLoading"&gt;&lt;/mz-page-loading-indicator&gt;
                </pre>
            </code>
        </div>
    </div>
    <p class="prose">Bind <var>isLoading</var> property to force the progress bar to render.</p>
</article>