<h1>Date time picker</h1>
<div class="prose">
    Use a date time picker to help user pick a date time value.
</div>

<article>
    <h2>Default</h2>
    <div class="example">
      <mat-form-field appearance="outline" floatLabel="auto">
        <input matInput [ngModel]="deactivationDate"  name="deactivationDate" [matDatepicker]="deactivationDatePicker">
        <mat-datepicker-toggle matSuffix [for]="deactivationDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #deactivationDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="example">

        <div class="button-list">
            <button class="button button-secondary" (click)="setScheduleRunTime({ 'hour': 10, 'minute': 0 })">Set time to 10:00 AM</button>
            <button class="button button-secondary" (click)="setScheduleRunTime({ 'hour': 20, 'minute': 0 })">Set time to 8:00 PM</button>
        </div>

        <form class="form">
            <label>
                <span class="field-label">Scheduled run time</span>
                <input type="time" class="field-control" [(ngModel)]="defaultScheduleInputModel.time" (change)="changeScheduledRunTime($event)" name="defaultScheduleInputModel.name"/>
            </label>
        </form>
        {{ defaultScheduleInputModel | json }}
    </div>

    <h3>Best practices</h3>
    <ul class="list-disc list-inside">
        <li>Use mask for instructional text to set value format expectation.</li>
        <li>Allow users entering in a date. Dates far away from today can be cubersome to enter with mouse.</li>
    </ul>
</article>
