<header>
    <h1>Modal</h1>
    <p class="prose">Use a modal to capture information or acknowledgement from users immediately without having users lose context.</p>
</header>

<article>
    <h2>Example</h2>
    <div class="example">
        <button class="button button-primary" (click)="open()">Open</button>
    </div>
</article>

<article>
    <h2>Best practices</h2>
    <ul class="list-inside list-disc">
        <li>Modals are invasive and should only be used sparingly</li>
        <li>Modals should be used for short-term tasks</li>
        <li>Avoid multiple steps inside a modal</li>
        <li>Avoid modal dialogs for complex decision making</li>
        <li>There should be at most one modal open at a given time</li>
    </ul>

    <h3>Content guidelines</h3>
    <p class="text-block">Guidelines are from <a href="https://atlassian.design/components/modal-dialog/usage#content-guidelines">Atlassian's content guidelines</a></p>
    <ul class="list-inside list-disc">
        <li>Modal dialog title should use sentence case and prioritize keywords</li>
        <li>Modal dialog body should only contain valuable and relevant information that is both helpful and concise</li>
        <li>Label elements with action verbs that indicate what happens when the element is selected. For example, label a select menu with Choose a user instead of Users.</li>
    </ul>
</article>