<h1>
    Breadcrumbs
</h1>
<p class="prose">
    Breadcrumbs are navigational element that convey hiearchical structure of the website. Use this to help users find
    find their place within a website.
</p>

<article>
    <h2>Demo</h2>
    <div class="example">
        <nav class="breadcrumbs" aria-label="Breadcrumb">
            <ol>
                <li><a routerLink="/components/item1">Item 1</a></li>
                <li><a routerLink="/components/item2">Item 2</a></li>
                <li><a routerLink="/components/item3">Item 3</a></li>
                <li><a routerLink="/breadcrumbs" aria-current="page">Breadcrumbs</a></li>
            </ol>
        </nav>
    </div>
</article>

<article>
    <h2>Best practices</h2>
    <ul>
        <li>Place breadcrumbs horizontally before a page's main content</li>
        <li>Breadcrumbs should display current page as last item, not as a link - TODO: conflicts?</li>
        <li>Breadcrumbs should not be representation of session history</li>
        <li>Page title and breadcrumb text should match to avoid confusion</li>
        <li>Consider not using breadcrumbs if the heiarchies are flat (0-2 levels deep)</li>
    </ul>
</article>

<article>
    <h2>Accessibility</h2>
    <p>Should use `ol`. Should include `aria-current` and `aria-label`.</p>
</article>

<article>
    <h2>References</h2>
    <ul>
        <li>https://www.w3.org/TR/wai-aria-practices/examples/breadcrumb/index.html</li>
        <li>https://www.nngroup.com/articles/breadcrumbs/</li>
    </ul>
</article>