<header>
  <h1>Dropdown menu</h1>
  <p class="prose">Use a dropdown menu to group related commands.</p>
</header>

<div class="example">
    <div ngbDropdown class="d-inline-block">
        <button class="button button-secondary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown <mz-svg-icon key="chevron-down" class="ml-4"></mz-svg-icon></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
    </div>
</div>

<div class="example">
  <button class="button button-secondary" [matMenuTriggerFor]="menu">...</button>
  <mat-menu #menu="matMenu" class="!min-h-0">
    <button class="dropdown-menu-item" mat-menu-item>Lock</button>
    <button class="dropdown-menu-item" mat-menu-item>Unlock</button>
    <button class="dropdown-menu-item" mat-menu-item>Activate</button>
  </mat-menu>
</div>
