<header>
    <h1>Description list</h1>
    <p class="prose">
        Use a description list to display readonly data fields.
    </p>
</header>

<article>
    <h2>Example</h2>
    <p>
        Use <code>.dl dl-horizontal</code> for first style, <code>.dl dl-stacked</code> for second.
    </p>
    <div class="example">
        <section class="max-w-md">
            <h3>Shipment</h3>
            <dl class="dl dl-horizontal">
                <div class="dl-item">
                    <dt>Shipment number</dt>
                    <dd>3050000</dd>
                </div>
                <div class="dl-item">
                    <dt>Created</dt>
                    <dd>12/15/2021</dd>
                </div>
                <div class="dl-item">
                    <dt>Status</dt>
                    <dd>Delivered</dd>
                </div>
                <div class="dl-item">
                    <dt>Recipent</dt>
                    <dd>Jane Doe</dd>
                </div>
            </dl>
        </section>
    </div>

    <div class="example">
        <section class="max-w-md">
            <h3>Shipment</h3>
            <dl class="dl dl-stacked">
                <div class="dl-item">
                    <dt>Shipment number</dt>
                    <dd>3050000</dd>
                </div>
                <div class="dl-item">
                    <dt>Created</dt>
                    <dd>12/15/2021</dd>
                </div>
                <div class="dl-item">
                    <dt>Status</dt>
                    <dd>Delivered</dd>
                </div>
                <div class="dl-item">
                    <dt>Recipent</dt>
                    <dd>Jane Doe</dd>
                </div>
            </dl>
        </section>
    </div>
</article>


<article>
    <h2>Usage</h2>
    <ul class="list-disc list-inside">
        <li>Description list title should use appropriate heading.</li>
        <li>Description item should be hidden by default if there is no value, unless the fact that it's blank requires user attention.</li>
    </ul>
</article>