<header>
    <h1>Form controls</h1>
    <p class="prose">
        Use form controls in a form to collect user inputs. Different types of form controls are for different types of user inputs.
    </p>
</header>



<article>
    <h2>When to use what selection control</h2>
    <div class="example">
        <div class="grid grid-rows-6 grid-flow-col mt-8 control-decision-table">
            <div></div>
            <div>how many options</div>
            <div>how many selections user can make</div>
            <div>is there a default option</div>
            <div>relationship between choices</div>
            <div>when does selection take effect</div>

            <div>Radio buttons</div>
            <div>2-4</div>
            <div>1</div>
            <div>yes</div>
            <div>mutually exclusive</div>
            <div>after user submits form</div>

            <div>Select</div>
            <div>more than 4</div>
            <div>1</div>
            <div>no, unless there's an option that we expect almost all users will select</div>
            <div>mutually exclusive</div>
            <div>after user submits form</div>

            <div>Checkboxes</div>
            <div>2-4</div>
            <div>0-all</div>
            <div>no</div>
            <div>independent</div>
            <div>after user submits form</div>

            <div>Multiselect</div>
            <div>more than 4</div>
            <div>0-all</div>
            <div>no</div>
            <div>independent</div>
            <div>after user submits form</div>

            <div>Single checkbox</div>
            <div>1</div>
            <div>2 (on/off)</div>
            <div>yes</div>
            <div>mutually exclusive</div>
            <div>after user submits form</div>

            <div>Toggle switch</div>
            <div>1</div>
            <div>2 (on/off)</div>
            <div>yes</div>
            <div>mutually exclusive</div>
            <div>immediately</div>
        </div>
    </div>
    <i>Decision table is revised based on https://www.nngroup.com/articles/toggle-switch-guidelines/</i>
</article>

<article>
    <h2>Notes</h2>
    <ul>
        <li>May need select with typeahead, checkbox listbox</li>
        <li>some of the css and html structure here needs cleanup</li>
    </ul>
</article>
