<div class="flex items-center flex-shrink-0 px-4 justify-center h-24 w-auto">
    <a href="/"><img src="./assets/logo-muzieh.svg" class="h-24 w-auto"></a>
</div>
<nav>
    <ol>
        <li><a routerLink="/design/about" routerLinkActive="active">About</a></li>
        <li>
            <div class="title">Foundations</div>
            <ul>
                <li><a routerLink="/design/accessibility" routerLinkActive="active">Accessibility</a></li>
                <li><a routerLink="/design/color" routerLinkActive="active">Color</a></li>
                <li><a routerLink="/design/grid" routerLinkActive="active">Grid</a></li>
                <li><a routerLink="/design/breakpoints" routerLinkActive="active">Breakpoints</a></li>
                <li><a routerLink="/design/iconography" routerLinkActive="active">Iconography</a></li>
                <li><a routerLink="/design/typography" routerLinkActive="active">Typography</a></li>
            </ul>
        </li>
        <li>
            <div class="title">Patterns</div>
            <ul>
                <li>
                    <a routerLink="/design/content" routerLinkActive="active">Content</a>
                </li>
                <li>
                    <a routerLink="/design/form" routerLinkActive="active">Form</a>
                </li>
                <li>
                    <a routerLink="/design/resulttable" routerLinkActive="active">Result table</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="title">Components</div>
            <ul>
                <li><a routerLink="/design/accordion" routerLinkActive="active">Accordion</a></li>
                <li><a routerLink="/design/alerts" routerLinkActive="active" class="na">Alerts</a></li>
                <!--<li><a routerLink="/design/badge" routerLinkActive="active" class="na">Badge</a></li>-->
                <li><a routerLink="/design/breadcrumbs" routerLinkActive="active">Breadcrumbs</a></li>
                <li><a routerLink="/design/button" routerLinkActive="active">Button</a></li>
                <li><a routerLink="/design/emptystate" routerLinkActive="active">Empty state</a></li>
                <li><a routerLink="/design/formcontrols" routerLinkActive="active">Form controls</a></li>
                <li><a routerLink="/design/descriptionlist" routerLinkActive="active">Description list</a>
                </li>
                <li><a routerLink="/design/menudropdown" routerLinkActive="active">Dropdown menu</a></li>
                <li><a routerLink="/design/modal" routerLinkActive="active" class="na">Modal</a></li>
                <li><a routerLink="/design/pagination" routerLinkActive="active" class="na">Pagination</a></li>
                <li><a routerLink="/design/progressbar" routerLinkActive="active" class="na">Progress bar</a></li>
                <li><a routerLink="/design/skeletonloader" routerLinkActive="active">Skeleton loader</a></li>
                <li><a routerLink="/design/spinner" routerLinkActive="active" class="na">Spinner</a></li>
                <li><a routerLink="/design/table" routerLinkActive="active">Table</a></li>
                <li><a routerLink="/design/tabs" routerLinkActive="active">Tabs</a></li>
                <li><a routerLink="/design/tooltip" routerLinkActive="active"><i>Tooltip</i></a></li>
                <li><a routerLink="/design/wizard" routerLinkActive="active"><i>Wizard</i></a></li>
            </ul>
        </li>
        <li>
            <div class="title">Examples</div>
            <ul>
                <li><a routerLink="design/examples/resourcelist">Resource list</a></li>
                <li><a routerLink="design/examples/resourcedetail">Resource detail</a></li>
            </ul>
        </li>
    </ol>
</nav>