<header>
    <h1>Dropdown menu</h1>
    <p class="prose">Use a dropdown menu to group related commands.</p>
</header>

<div class="example">
    <div class="flex gap-5 items-center">
        <mz-dropdown label="Dropdown">
            <ul>
                <li role="button" tabindex="0" mzDropDownItem (click)="openItem()">item 1</li>
                <li role="button" tabindex="0" mzDropDownItem (click)="openItem()">item 2</li>
            </ul>
        </mz-dropdown>

        <mz-dropdown label="Dropdown">
            <button mzDropDownItem (click)="openItem()">item 1</button>
            <button mzDropDownItem (click)="openItem()">item 2</button>
        </mz-dropdown>

        <form class="form">
            <label class="field">
                <span class="field-label">For testing focus and tab index</span>
                <input type="text" class="form-input" />
            </label>
        </form>
    </div>
</div>
