<header>
    <h1>Dropdown menu</h1>
    <p class="prose">Use a dropdown menu to group related commands.</p>
</header>

<div class="example">
    <div class="flex gap-5 items-center">
        <button mzButton [cdkMenuTriggerFor]="menu">Open item</button>
        <ng-template #menu>
            <div class="menu" cdkMenu>
                <button cdkMenuItem (cdkMenuItemTriggered)="openItem()">Option 1</button>
                <button cdkMenuItem (cdkMenuItemTriggered)="openItem()">Option 2</button>
                <button cdkMenuItem (cdkMenuItemTriggered)="openItem()">Option 3</button>
            </div>
        </ng-template>

        <button mzButton variant="tertiary" [cdkMenuTriggerFor]="menu2">
            Menu
            <mz-svg-icon key="chevron-down-control"></mz-svg-icon>
        </button>
        <ng-template #menu2>
            <div class="menu" cdkMenu>
                <button cdkMenuItem (cdkMenuItemTriggered)="openItem()">Option 1</button>
                <button cdkMenuItem (cdkMenuItemTriggered)="openItem()">Option 2</button>
                <button cdkMenuItem (cdkMenuItemTriggered)="openItem()">Option 3</button>
            </div>
        </ng-template>

        <button mzButton variant="tertiary" [cdkMenuTriggerFor]="menu3">
            <mz-svg-icon key="menu-outline"></mz-svg-icon>
            Menu
        </button>
        <ng-template #menu3>
            <div class="menu" cdkMenu>
                <button cdkMenuItem (cdkMenuItemTriggered)="openItem()">Option 1</button>
                <button cdkMenuItem (cdkMenuItemTriggered)="openItem()">Option 2</button>
                <button cdkMenuItem (cdkMenuItemTriggered)="openItem()">Option 3</button>
            </div>
        </ng-template>
    </div>
</div>
