<h1>About</h1>

This is a work-in-progress design system that will allow quick bootstrap of modern new projects meeting the following
needs
<ul class="list-inside list-disc">
    <li>components</li>
    <li>patterns</li>
    <li>styles</li>
    <li>accessibility</li>
    <li>responsiveness</li>
</ul>
<p>
    It adapts <a href="https://atlassian.design/">Atlassian Design System</a>, and uses <a
        href="https://tailwindcss.com/docs/installation">Tailwindcss</a> to create css components and base styles.
</p>

<article>
    <h2>About design system</h2>
    <p>
        A design system provides a unified design language by defining a set of standards on
        styles, patterns, and components. Each decision in this system should be driven by need, purpose, and reason.
        Having a unified design language alleviates the teams from redesign, promotes consistency, and reusability.
    </p>
</article>

<article>
    <h2>Resources</h2>
    <ul class="list-inside list-disc">
        <li><a href="https://www.nngroup.com/articles/design-pattern-guidelines/">Design pattern guidelines</a></li>
        <li><a href="https://www.w3.org/TR/wai-aria-1.1">Accessible Rich Internet Applications (WAI-ARIA) 1.1</a></li>
        <li><a href="https://www.w3.org/TR/wai-aria-practices">WAI-ARIA Authoring Practices 1.1</a></li>
    </ul>
</article>