<header>
    <h1>About</h1>
    <p class="text-block">
        Muzieh Design System is a work-in-progress design system that will allow bootstrapping new modern projects
        quickly. Css styles
        are
        intentionally minimalistic to keep focus on structure and less on cosmetics.
    </p>

    <p class="text-block">
        This design system adapts <a href="https://atlassian.design/">Atlassian Design System</a>, uses <a
            href="https://tailwindcss.com/docs/installation">Tailwindcss</a> to create css components and base styles.
    </p>
</header>

<article>
    <section>
        <h2>Principles</h2>
        <p class="text-block">
            Today's web serves a wide range of audience. They may be on different devices and/or operating systems. Some
            may use
            a screen reader as they browse. Some may be less tech-savvy than others. For these reasons, Muzieh
            Design System remains design-neutral and reuses what HTML has already defined as much
            as
            possible to reduce the required learning curve.
        </p>
    </section>
    <section>
        <h2>Objectives</h2>
        <ul class="list-disc list-inside">
            <li>Define commonly needed components</li>
            <li>Define commonly needed patterns</li>
            <li>Define commonly needed styles</li>
            <li>Provide standards and documentation around usage</li>
            <li>Provide shared vocabulary and basis to enable effective communication and efficiency across teams</li>
        </ul>
    </section>
</article>

<article>
    <section>
        <h2>Resources</h2>
        <ul class="list-inside list-disc">
            <li><a href="https://www.nngroup.com/articles/design-systems-101/">Design Systems 101</a></li>
            <li><a href="https://www.nngroup.com/articles/design-pattern-guidelines/">Design pattern guidelines</a></li>
        </ul>
    </section>
</article>