<p>order-detail works!</p>

{{ (order$ | async) | json }}

<header class="page-header">
    <div class="md:flex md:justify-between md:items-end">
        <div>
            <h1>Order {{order.orderId}}</h1>
            <div>
                <div class="text-secondary text-sm">
                    Placed on {{order.submissionDate | date }} by <a href="#">{{ order.customer.firstName }}
                        {{order.customer.lastName}}</a>
                </div>
                <div class="text-secondary text-sm">
                    {{order.orderTotal | currency}}
                </div>
            </div>
        </div>
        <div>
            <div ngbDropdown>
                <button id="dropdownBasic1" class="button" [ngClass]="{'button-secondary': translatedStatus == 'new', 'button-primary': translatedStatus != 'new'}" ngbDropdownToggle>{{order.status | enumDisplay}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</header>