:root {
    --color-primary: rgb(29, 78, 216);
    --color-secondary: rgb(55, 65, 81);
    --color-success: rgb(21, 128, 61);
    --color-danger: rgb(185, 28, 28);
    --color-warning: rgb(161, 98, 7);
}
    
