<h1>Tabs</h1>

<div class="prose">
    Use tabs to alternate between views within the same context.
</div>

<article>
    <h2>Example</h2>
    TODO
</article>

<article>
    <h2>Usage</h2>
    <ol>
        <li>Use tabs when user doesn't need to see content from multiple tabs simultaneously</li>
        <li>Tabs should be parallel in nature</li>
        <li>Visually indicate current tab</li>
        <li>Do not use caps for labels</li>
    </ol>
    These are taken from the nngroup article referenced.
</article>

<article>
    <h2>References</h2>
    <ul>
        <li>https://www.nngroup.com/articles/tabs-used-right/</li>
    </ul>
</article>