:root {
    --color-primary: #1d4ed8;
    --color-secondary: #374151;
    --color-success: #15803d;
    --color-danger: #b91c1c;
    --color-warning: #a16207;

    --color-neutral-50: #f9fafb;
    --color-neutral-100: #f3f4f6;
    --color-neutral-200: #e5e7eb;
    --color-neutral-300: #d1d5db;
    --color-neutral-400: #9ca3af;
    --color-neutral-500: #6b7280;
    --color-neutral-600: #4b5563;
    --color-neutral-700: #374151;
    --color-neutral-800: #1f2937;
    --color-neutral-900: #111827;
    --color-neutral-950: #030712;

    --color-brand-50: #eff6ff;
    --color-brand-100: #dbeafe;
    --color-brand-200: #bfdbfe;
    --color-brand-300: #93c5fd;
    --color-brand-400: #60a5fa;
    --color-brand-500: #3b82f6;
    --color-brand-600: #2563eb;
    --color-brand-700: #1d4ed8;
    --color-brand-800: #1e40af;
    --color-brand-900: #1e3a8a;
    --color-brand-950: #172554;

    --color-green-50: #f0fdf4;
    --color-green-100: #dcfce7;
    --color-green-200: #bbf7d0;
    --color-green-300: #86efac;
    --color-green-400: #4ade80;
    --color-green-500: #22c55e;
    --color-green-600: #16a34a;
    --color-green-700: #15803d;
    --color-green-800: #166534;
    --color-green-900: #14532d;
    --color-green-950: #052e16;

    --color-red-50: #fef2f2;
    --color-red-100: #fee2e2;
    --color-red-200: #fecaca;
    --color-red-300: #fca5a5;
    --color-red-400: #f87171;
    --color-red-500: #ef4444;
    --color-red-600: #dc2626;
    --color-red-700: #b91c1c;
    --color-red-800: #991b1b;
    --color-red-900: #7f1d1d;
    --color-red-950: #450a0a;

    --color-yellow-50: #fefce8;
    --color-yellow-100: #fef9c3;
    --color-yellow-200: #fef08a;
    --color-yellow-300: #fde047;
    --color-yellow-400: #facc15;
    --color-yellow-500: #eab308;
    --color-yellow-600: #ca8a04;
    --color-yellow-700: #a16207;
    --color-yellow-800: #854d0e;
    --color-yellow-900: #713f12;
    --color-yellow-950: #422006;

    --border-radius: 0px;

    --surface-bg: #fff;
    --surface-border-radius: 0rem;

    --button-border-radius: 0rem;
}

$font: (
    weight: (
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700
    ),
    size: (
        xs: 0.75rem,
        sm: 0.875rem,
        base: 1rem,
        lg: 1.125rem,
        xl: 1.25rem
    ),
    line-height: (
        xs: calc(1 / 0.75),
        sm: calc(1.25 / 0.875),
        base: calc(1.5 / 1),
        lg: calc(1.75 / 1.125),
        xl: calc(1.75 / 1.25)
    )
);

$core: (
    spacing: 0.25rem, // 4px
    sizing: 1px
);

$color: (
    text: (
        //default: var(--text-default),
        primary: var(--color-primary),
        subtle: var(--color-neutral-700),
        subtler: var(--color-neutral-600),
        subtlest: var(--color-neutral-500),
        danger: var(--color-danger),
        warning: var(--color-warning),
        inverse: white,
        disabled: var(--color-neutral-400)
        //link: var(--text-link)
    ),
    background: (
        surface: var(--surface-bg),
        primary: var(--color-primary),
        primary-hovered: var(--color-brand-600),
        primary-active: var(--color-brand-800),
        neutral: var(--color-neutral-200),
        neutral-hovered: rgb(from var(--color-neutral-200) r r b / 65%),
        neutral-active: var(--color-neutral-300),
        danger: var(--color-red-500),
        danger-hovered: var(--color-red-600),
        danger-active: var(--color-red-700),
        warning: var(--color-yellow-500),
        warning-hovered: var(--color-yellow-600),
        warning-active: var(--color-yellow-700),
    ),
    border: (
        neutral: var(--color-neutral-200)
    )
);

$breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    '2xl': 1536px
);