<header>
  <h1>Google maps address form</h1>
</header>

<article>
  <h2>Example</h2>
  <div class="example">
      <form class="form" #addressForm="ngForm" (ngSubmit)="onSubmit()" (change)="onFormChange()">
          <header>
              <h3>Angular material address form</h3>
              <div class="description">Add a new delivery address to your profile.</div>
          </header>

          <label class="field">
              <span class="field-label">Address 1 Google autocomplete <span class="text-red-500">*</span></span>
              <input #search type="text" class="field-control" [(ngModel)]="model.address1" name="address1" required />
              <small class="field-error" *ngIf="displayError('address1')">
                  <mz-svg-icon key="exclamation" type="solid"></mz-svg-icon>
                  Invalid value
              </small>
          </label>

          <label class="field">
            <span class="field-label">Address 2 Angular material autocomplete <span class="text-red-500">*</span></span>
          </label>
          <label class="field-control-group">
              <input type="text" class="field-control" (keyup)="onInputChanged()" [matAutocomplete]="auto" name="address2" [(ngModel)]="model.address2" required>
              <div class="field-control-addon" *ngIf="loading">
                <mz-spinner></mz-spinner>
              </div>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected($event)">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option.description}}
                </mat-option>
              </mat-autocomplete>
              <small class="field-error" *ngIf="displayError('address1')">
                  <mz-svg-icon key="exclamation" type="solid"></mz-svg-icon>
                  Invalid value
              </small>
          </label>

          <div class="grid grid-cols-3 gap-x-4">
              <label class="field">
                  <span class="field-label">City <span class="text-red-500">*</span></span>
                  <input type="text" class="field-control" [(ngModel)]="model.city" name="city" required />
              </label>
              <label class="field">
                  <span class="field-label">State <span class="text-red-500">*</span></span>
                  <select class="field-control" [(ngModel)]="model.state" name="state" required>
                      <option>UT</option>
                      <option>NY</option>
                      <option>CA</option>
                  </select>
              </label>
              <label class="field">
                  <span class="field-label">Zip code <span class="text-red-500">*</span></span>
                  <input type="text" class="field-control" [(ngModel)]="model.zipCode" name="zipCode" required />
              </label>
              <small class="field-error" *ngIf="displayError('city') || displayError('state') || displayError('zipCode')">
                  <mz-svg-icon key="exclamation" type="solid"></mz-svg-icon>
                  Invalid value(s)
              </small>
          </div>

          <div class="footer">
              <div class="form-message success" *ngIf="isSuccessful == true">
                  <mz-svg-icon key="check-circle" type="solid"></mz-svg-icon>
                  Saved!
              </div>
              <div class="form-message failed text-danger" *ngIf="isSuccessful == false">
                  <mz-svg-icon key="exclamation" type="solid"></mz-svg-icon>
                  Unexpected error, try submitting the form again.
              </div>

              <button mzButton variant="primary" [busy]="isLoading">Add delivery address</button>
          </div>
      </form>
  </div>
</article>

<article>
  <h2>Usage</h2>
  <div class="text-block">
      <ol class="list-outside list-decimal ml-4">
          <li class="mb-2">
              <strong>Loading the library</strong>
              <p>Add your Google Cloud API key in the index.html google script  </p>
              <code>&lt;script async src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initMap"&gt;</code> <code>&lt;/script&gt;</code>
          </li>
      </ol>
  </div>
