<header>
    <h1>Form</h1>
</header>

<p>Use a form to collect information from the user. Guidelines here are on top of <a
        href="https://atlassian.design/components/form/usage">Atlassian
        Design System's on forms.</a></p>

<article>
    <h2>Example</h2>
    <div class="example">
        <form #addressForm="ngForm" (ngSubmit)="onSubmit()">
            <header>
                <h3>Add delivery address</h3>
                <div class="description">Add a new delivery address to your profile.</div>
            </header>

            <label class="field">
                <span class="field-label">Recipent name <span class="text-red-500">*</span></span>
                <input type="text" class="field-control" [(ngModel)]="model.recipientName" name="recipientName"
                    required>
                <small class="field-error text-red-500" *ngIf="scenario == 'validationerror'">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                            clip-rule="evenodd" />
                    </svg>
                    Invalid value
                </small>
            </label>

            <label class="field">
                <span class="field-label">Address 1 <span class="text-red-500">*</span></span>
                <input type="text" class="field-control" [(ngModel)]="model.address1" name="address1" required>
            </label>
            <label class="field">
                <span class="field-label">Address 2</span>
                <input type="text" class="field-control" [(ngModel)]="model.address2" name="address2">
            </label>
            <div class="grid grid-cols-3 gap-4">
                <label class="field">
                    <span class="field-label">City <span class="text-red-500">*</span></span>
                    <input type="text" class="field-control" [(ngModel)]="model.city" name="city" required>
                </label>
                <label class="field">
                    <span class="field-label">State <span class="text-red-500">*</span></span>
                    <select class="field-control" [(ngModel)]="model.state" name="state" required>
                        <option>UT</option>
                        <option>NY</option>
                    </select>
                </label>
                <label class="field">
                    <span class="field-label">Zip code <span class="text-red-500">*</span></span>
                    <input type="text" class="field-control" [(ngModel)]="model.zipCode" name="zipCode" required>
                </label>
            </div>

            <fieldset>
                <legend>Delivery Instructions</legend>
                <label class="field">
                    <span class="field-label">Navigation instructions</span>
                    <input type="text" class="field-control" [(ngModel)]="model.navigationInstructions"
                        name="navigationInstructions" required>
                    <small class="help-text">Provide details such as nearby landmark to help find the address.</small>
                </label>
                <label class="field">
                    <span class="field-label">Security code</span>
                    <input type="text" class="field-control" [(ngModel)]="model.securityCode" name="securityCode"
                        required>
                    <small class="help-text">Security code for the door</small>
                </label>
                <label class="field">
                    <span class="field-label">Scenario</span>
                    <select [(ngModel)]="scenario" name="scenario" [ngModelOptions]="{standalone:true}"
                        class="field-control">
                        <option value="success" selected>success</option>
                        <option value="unexpectederror">unexpected error</option>
                        <option value="validationerror">validation error</option>
                    </select>
                    <small class="help-text">Select one to see form behavior at play. TODO: move</small>
                </label>
            </fieldset>

            <div class="footer">
                <div class="form-message success" *ngIf="isSuccess == true">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd" />
                    </svg>
                    Saved
                </div>
                <div class="form-message failed text-danger" *ngIf="isSuccess == false">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                            clip-rule="evenodd" />
                    </svg>
                    {{error}}
                </div>

                <button class="btn-primary" [ngClass]="{'loading': isLoading}">
                    <svg *ngIf="isLoading" class="animate-spin -ml-1 mr-3 h-6 w-6 text-white"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg><!-- TODO -->
                    Add delivery address
                </button>
            </div>
        </form>
    </div>
</article>

<article>
    <h2>Elements</h2>
    <div class="prose">
        <ol>
            <li>
                <p><strong>Form title</strong></p>
                <p>Concise text that describes the form. Use appropriate heading element based on where form is on page.
                    Optionally, follow the title with a short description.</p>
            </li>
            <li>
                <p><strong>Form section</strong></p>
                <p>A group of controls and fields that are logically related. There can be multiple form sections in one
                    form. They should be grouped using &lt;fieldset&gt;, with &lt;legend&gt; as the headline.
                </p>
            </li>
            <li>
                <p><strong>Field</strong></p>
                <p>A field is an entry in the form.</p>
                <ul>
                    <li>
                        <p><strong>Label</strong></p>
                        <p>Use concise label.</p>
                    </li>
                    <li>
                        <p><strong>Required field</strong></p>
                        <p>Use asterisk to indicate a required field.</p>
                    </li>
                    <li>
                        <p><strong>Help text</strong></p>
                        <p>Use help text to provide instructions so that users don't have to guess.</p>
                    </li>
                    <li>
                        <p><strong>Error message</strong></p>
                    </li>
                    <li>
                        <p><strong>Loading indicator</strong></p>
                        <p>TODO</p>
                    </li>
                </ul>
            </li>
            <li>
                <p><strong>Form footer</strong></p>
                <p>It should always contain one primary action button. Buttons should be enabled by default.</p>
            </li>
        </ol>
    </div>
</article>

<article>
    <h2>Usage</h2>

    <h3>Best practices</h3>
    <ol>
        <li>Button should state the action that the button performs when clicked.</li>
        <li>Avoid multiple action buttons, reset button, and cancel button.</li>
        <li>Avoid placeholder attributes.</li>
        <li>Never disable a submit button.</li>
        <li>Autofocus the first field by default.</li>
        <li>A form is a conversation with user. Be helpful and concise in our communication.</li>
        <li>Present fields in a single column layout to keep users in flow. Related fields can be grouped together to
            reduce space needs.</li>
        <li>Use logical sequencing</li>
    </ol>

    <h3>References</h3>
    <ul>
        <li><a href="https://atlassian.design/patterns/forms">Atlassian Design System Forms Patterns</a></li>
        <li>TODO: https://www.nngroup.com/articles/indicators-validations-notifications/</li>
        <li>TODO: https://www.nngroup.com/articles/errors-forms-design-guidelines/</li>
        <li>https://www.nngroup.com/articles/web-form-design/</li>
    </ul>

</article>

<article>
    <h2>TODO</h2>
    <ul class="list-disc list-inside">
        <li>iterate css selectors</li>
        <li>field widths</li>
        <li>create css class for field entries that are on one line; require control spacing when displayed as group
        </li>
        <li>auto focus form</li>
        <li>form message css needs work</li>
    </ul>
</article>