<header>
    <h1>Form</h1>
    <p class="prose">Use a form to collect information from the user. Guidelines here are on top of <a
            href="https://atlassian.design/components/form/usage">Atlassian
            Design System's on forms.</a></p>
</header>

<article>
    <h2>Example</h2>
    <div class="example">
    <form class="form" #addressForm="ngForm" (ngSubmit)="onSubmit()" (change)="onFormChange()">
            <header>
                <h3>Add delivery address</h3>
                <div class="description">Add a new delivery address to your profile.</div>
            </header>

            <label class="field">
                <span class="field-label">Recipent name <span class="text-red-500">*</span></span>
                <input type="text" class="field-control" [(ngModel)]="model.recipientName" name="recipientName"
                    required>
                <small class="field-error" *ngIf="displayError('recipientName')">
                    <mz-svg-icon key="exclamation" type="solid"></mz-svg-icon>
                    Invalid value
                </small>
                <small class="help-text">This is what instruction text would look like</small>
            </label>

            <label class="field">
                <span class="field-label">Address 1 <span class="text-red-500">*</span></span>
                <input type="text" class="field-control" [(ngModel)]="model.address1" name="address1" required>
                <small class="field-error" *ngIf="displayError('address1')">
                    <mz-svg-icon key="exclamation" type="solid"></mz-svg-icon>
                    Invalid value
                </small>
            </label>
            <label class="field">
                <span class="field-label">Address 2</span>
                <input type="text" class="field-control" [(ngModel)]="model.address2" name="address2">
            </label>
            <div class="grid grid-cols-3 gap-x-4">
                <label class="field">
                    <span class="field-label">City <span class="text-red-500">*</span></span>
                    <input type="text" class="field-control" [(ngModel)]="model.city" name="city" required>
                </label>
                <label class="field">
                    <span class="field-label">State <span class="text-red-500">*</span></span>
                    <select class="field-control" [(ngModel)]="model.state" name="state" required>
                        <option>UT</option>
                        <option>NY</option>
                    </select>
                </label>
                <label class="field">
                    <span class="field-label">Zip code <span class="text-red-500">*</span></span>
                    <input type="text" class="field-control" [(ngModel)]="model.zipCode" name="zipCode" required>
                </label>
                <small class="field-error"
                    *ngIf="displayError('city') || displayError('state') || displayError('zipCode')">
                    <mz-svg-icon key="exclamation" type="solid"></mz-svg-icon>
                    Invalid value(s)
                </small>
            </div>

            <fieldset class="fieldset">
                <legend>Delivery instructions</legend>
                <label class="field">
                    <span class="field-label">Navigation instructions</span>
                    <input type="text" class="field-control" [(ngModel)]="model.navigationInstructions"
                        name="navigationInstructions">
                    <small class="help-text">Provide details such as nearby landmark to help find the address.</small>
                </label>
                <label class="field">
                    <span class="field-label">Security code</span>
                    <input type="text" class="field-control" [(ngModel)]="model.securityCode" name="securityCode">
                    <small class="help-text">Security code for the door</small>
                </label>
            </fieldset>

            <fieldset class="fieldset">
                <legend>Form scenario</legend>
                <label class="field field-checkbox">
                    <input type="checkbox" class="field-control" [(ngModel)]="model.unexpectedError"
                        name="unexpectedError"> 
                    <span class="field-label">Unexpected error</span>
                </label>
            </fieldset>

            <div class="footer">
                <div class="form-message success" *ngIf="isSuccessful == true">
                    <mz-svg-icon key="check-circle" type="solid"></mz-svg-icon>
                    Saved!
                </div>
                <div class="form-message failed text-danger" *ngIf="isSuccessful == false">
                    <mz-svg-icon key="exclamation" type="solid"></mz-svg-icon>
                    Unexpected error, try submitting the form again.
                </div>

                <button mzButton variant="primary" [busy]="isLoading">
                    Add delivery address
                </button>
            </div>
        </form>
    </div>
</article>

<article>
    <h2>Usage</h2>

    <h3>Anatomy</h3>
    <div class="text-block">
        <ol class="list-outside list-decimal ml-4">
            <li class="mb-2">
                <strong>Form title</strong>
                <p>Concise text that describes the form. Use appropriate heading element based on where form is on page.</p>
            </li>
            <li class="mb-2">
                <strong>Form description</strong>
                <p>Optional. Use a form description to provide additional context.</p>
            </li>
            <li class="mb-2">
                <strong>Form section</strong>
                <p>Use form sections to group information that are logically related. There can be multiple form sections in one
                    form. They should be grouped using <code>&lt;fieldset&gt;</code>, with <code>&lt;legend&gt;</code> as the headline.
                </p>
            </li>
            <li class="mb-2">
                <strong>Field</strong>
                <p>A field is an entry in the form.</p>
                <ol class="list-outside list-decimal ml-8">
                    <li>
                        <strong>Label</strong>
                        <p>Use a label to communicate what the field is for. Use sentence casing.</p>
                    </li>
                    <li>
                        <strong>Required field</strong>
                        <p>Use asterisk to indicate a required field.</p>
                    </li>
                    <li>
                        <strong>Help text</strong>
                        <p>Use help text to provide instructions so that users don't have to guess.</p>
                    </li>
                    <li>
                        <strong>Error message</strong>
                        <p>Use field error message to communicate that associated field needs correction.</p>
                    </li>
                </ol>
            </li>
            <li class="mb-2">
                <strong>Form footer</strong>
                <p>Use footer section to communicate available actions. It should always contain exactly one primary action button, and form errors above button.</p>
            </li>
        </ol>
    </div>

    <h3>Best practices</h3>
    <p>A form is a conversation between the system and the user. Practice good communication -- be helpful, concise, and timely.</p>
    <ul class="list-disc list-inside text-block">
        <li>Use sentence casing for labels</li>
        <li>Use clear and concise text for labels to make things clear and simple to understand</li>
        <li>Button text should state the action that the button performs when clicked.</li>
        <li>Avoid multiple action buttons. Forms usually should have 1-2 buttons.</li>
        <li>Avoid reset button, and cancel button to avoid misclicks, unless they add value.</li>
        <li>Avoid placeholder attributes due to accessibility concerns.</li>
        <li>Never disable a submit button.</li>
        <li>Present fields in a single column layout to keep users in flow.</li>
        <li>Use logical grouping and sequencing for form field arrangements.</li>
    </ul>

    <h3>Error messages</h3>
    <ul class="list-inside list-disc text-block">
        <li>Error message should be clear, precise, and constructive to help user understand what the error is and how to correct it.</li>
        <li>Place error message right underneath the field being validated. Keeping them close makes the error noticeable and helps user make the association.</li>
        <li>
            Validate and display error messages as soon as user completes input to provide quick feedback
            <ul class="list-inside list-disc text-block ml-8">
                <li>Always perform simple validations on client side</li>
            </ul>
        </li>
    </ul>

    <h3>Button positioning</h3>
    <ul class="list-inside list-disc text-block">
        <li>Buttons should be sorted by importance from left to right for pages. Primary button should always be first
            button.</li>
        <li>Buttons should be sorted by importance from right to left for modals and multi-step forms and modal. Primary button
            should always be last.</li>
    </ul>

    <h3>References</h3>
    <ul class="list-inside list-disc">
        <li><a href="https://atlassian.design/patterns/forms">Atlassian Design System Forms Patterns</a></li>
        <!--<li><a href="https://www.nngroup.com/articles/indicators-validations-notifications/"></a></li>-->
        <li><a href="https://www.nngroup.com/articles/errors-forms-design-guidelines/">How to Report Errors in Forms: 10 Design Guidelines</a></li>
        <li><a href="https://www.nngroup.com/articles/error-message-guidelines/">Error Message Guidelines</a></li>
        <li><a href="https://www.nngroup.com/articles/web-form-design/">Website Forms Usability: Top 10 Recommendations</a></li>
        <li><a href="https://uxdesign.cc/title-case-vs-sentence-case-in-ux-writing-212087192261">Title case vs sentence case in UX writing</a></li>
        <li><a href="https://uxplanet.org/why-letter-casing-is-important-to-consider-during-design-decisions-50402acd0a4e">Why letter casing is important to consider during design decisions</a></li>
    </ul>

</article>

<article>
    <h2>Work in progress</h2>
    <p>Form is still work in progress, with the following known TODOs.</p>
    <ul class="list-disc list-inside">
        <li>Autofocus the first field by default.</li>
        <li>Finalize styles</li>
        <li>Define field widths to use</li>
        <li>Accessible readonly form</li>
        <li>Form validation framework</li>
    </ul>
</article>