<header>
    <h1>Form</h1>
</header>

<p>Use a form to collect information from the user. Guidelines here are on top of <a
        href="https://atlassian.design/components/form/usage">Atlassian
        Design System's on forms.</a></p>

<article>
    <h2>Example</h2>
    <div class="example">
        <form #addressForm="ngForm" (ngSubmit)="onSubmit()">
            <header>
                <h3>Add delivery address</h3>
                <div class="description">Add a new delivery address to your profile.</div>
            </header>

            <label class="field">
                <span class="field-label">Recipent name <span class="text-red-500">*</span></span>
                <input type="text" class="field-control" [(ngModel)]="model.recipientName" name="recipientName"
                    required>
                <small class="field-error text-red-500" *ngIf="displayError('recipientName')">
                    <app-svg-icon key="exclamation" type="solid"></app-svg-icon>
                    Invalid value
                </small>
            </label>

            <label class="field">
                <span class="field-label">Address 1 <span class="text-red-500">*</span></span>
                <input type="text" class="field-control" [(ngModel)]="model.address1" name="address1" required>
                <small class="field-error text-red-500" *ngIf="displayError('address1')">
                    <app-svg-icon key="exclamation" type="solid"></app-svg-icon>
                    Invalid value
                </small>
            </label>
            <label class="field">
                <span class="field-label">Address 2</span>
                <input type="text" class="field-control" [(ngModel)]="model.address2" name="address2">
            </label>
            <div class="grid grid-cols-3 gap-x-4">
                <label class="field">
                    <span class="field-label">City <span class="text-red-500">*</span></span>
                    <input type="text" class="field-control" [(ngModel)]="model.city" name="city" required>
                </label>
                <label class="field">
                    <span class="field-label">State <span class="text-red-500">*</span></span>
                    <select class="field-control" [(ngModel)]="model.state" name="state" required>
                        <option>UT</option>
                        <option>NY</option>
                    </select>
                </label>
                <label class="field">
                    <span class="field-label">Zip code <span class="text-red-500">*</span></span>
                    <input type="text" class="field-control" [(ngModel)]="model.zipCode" name="zipCode" required>
                </label>
                <small class="field-error text-red-500"
                    *ngIf="displayError('city') || displayError('state') || displayError('zipCode')">
                    <app-svg-icon key="exclamation" type="solid"></app-svg-icon>
                    Invalid value(s)
                </small>
            </div>

            <!--<fieldset>
                <legend>Delivery instructions</legend>
                <label class="field">
                    <span class="field-label">Navigation instructions</span>
                    <input type="text" class="field-control" [(ngModel)]="model.navigationInstructions"
                        name="navigationInstructions">
                    <small class="help-text">Provide details such as nearby landmark to help find the address.</small>
                </label>
                <label class="field">
                    <span class="field-label">Security code</span>
                    <input type="text" class="field-control" [(ngModel)]="model.securityCode" name="securityCode">
                    <small class="help-text">Security code for the door</small>
                </label>
            </fieldset>-->

            <fieldset>
                <legend>Form scenario</legend>
                <label class="field field-checkbox">
                    <input type="checkbox" class="field-control" [(ngModel)]="model.unexpectedError" name="unexpectedError"> Unexpected
                    error
                </label>
            </fieldset>

            <div class="footer">
                <div class="form-message success" *ngIf="isSuccessful == true">
                    <app-svg-icon key="check-circle" type="solid"></app-svg-icon>
                    Saved!
                </div>
                <div class="form-message failed text-danger" *ngIf="isSuccessful == false">
                    <app-svg-icon key="exclamation" type="solid"></app-svg-icon>
                    Unexpected error, try submitting the form again.
                </div>

                <button class="btn-primary" [ngClass]="{'loading': isLoading}">
                    <svg *ngIf="isLoading" class="animate-spin -ml-1 mr-3 h-6 w-6 text-white"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg><!-- TODO -->
                    Add delivery address
                </button>
            </div>
        </form>
    </div>
</article>

<article>
    <h2>Elements</h2>
    <div class="prose">
        <ol>
            <li>
                <p><strong>Form title</strong></p>
                <p>Concise text that describes the form. Use appropriate heading element based on where form is on page.
                    Optionally, follow the title with a short description.</p>
            </li>
            <li>
                <p><strong>Form section</strong></p>
                <p>A group of controls and fields that are logically related. There can be multiple form sections in one
                    form. They should be grouped using &lt;fieldset&gt;, with &lt;legend&gt; as the headline.
                </p>
            </li>
            <li>
                <p><strong>Field</strong></p>
                <p>A field is an entry in the form.</p>
                <ul>
                    <li>
                        <p><strong>Label</strong></p>
                        <p>Use concise label.</p>
                    </li>
                    <li>
                        <p><strong>Required field</strong></p>
                        <p>Use asterisk to indicate a required field.</p>
                    </li>
                    <li>
                        <p><strong>Help text</strong></p>
                        <p>Use help text to provide instructions so that users don't have to guess.</p>
                    </li>
                    <li>
                        <p><strong>Error message</strong></p>
                    </li>
                    <li>
                        <p><strong>Loading indicator</strong></p>
                        <p>TODO</p>
                    </li>
                </ul>
            </li>
            <li>
                <p><strong>Form footer</strong></p>
                <p>It should always contain one primary action button. Buttons should be enabled by default.</p>
            </li>
        </ol>
    </div>
</article>

<article>
    <h2>Usage</h2>

    <h3>Best practices</h3>
    <ol class="list-decimal list-inside">
        <li>Button should state the action that the button performs when clicked.</li>
        <li>Avoid multiple action buttons. Forms usually should have 1-2 buttons.</li>
        <li>Avoid reset button, and cancel button.</li>
        <li>Avoid placeholder attributes.</li>
        <li>Never disable a submit button.</li>
        <li>A form is a conversation with user. Be helpful and concise in our communication.</li>
        <li>Present fields in a single column layout to keep users in flow.</li>
        <li>Use logical grouping and sequencing for form field arrangements.</li>
    </ol>

    <h3>Button positioning</h3>
    <ul class="list-inside list-disc">
        <li>Buttons should be sorted by importance from left to right for pages. Primary button should always be first
            button.</li>
        <li>Buttons should be sorted by importance from right to left for modals and multi-step forms. Primary button
            should always be last.</li>
    </ul>

    <h3>References</h3>
    <ul>
        <li><a href="https://atlassian.design/patterns/forms">Atlassian Design System Forms Patterns</a></li>
        <li>TODO: https://www.nngroup.com/articles/indicators-validations-notifications/</li>
        <li>TODO: https://www.nngroup.com/articles/errors-forms-design-guidelines/</li>
        <li>https://www.nngroup.com/articles/web-form-design/</li>
    </ul>

</article>

<article>
    <h2>TODO</h2>
    <ul class="list-disc list-inside">
        <li>iterate css selectors</li>
        <li>field widths</li>
        <li>create css class for field entries that are on one line; require control spacing when displayed as group</li>
        <li>Autofocus the first field by default.</li>
    </ul>
</article>