<h1>Pagination</h1>
<p class="prose">
    Use pagination to divide content into smaller chunks, and allow user to page through them.
</p>

<article>
    <h2>Examples</h2>
    <div class="example">
        <mz-pagination [totalItems]="smallPagination.length" [pageNumber]="smallPagination.page" [pageSize]="smallPagination.pageSize" (changePage)="changePage($event, smallPagination)"></mz-pagination>
    </div>
    <div class="example">
        <mz-pagination [totalItems]="smallPagination3.length" [pageNumber]="smallPagination3.page" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" (changePage)="changePage($event, smallPagination3)"></mz-pagination>
    </div>
    <div class="example">
        <mz-pagination [totalItems]="largeCollection.length" [pageNumber]="largeCollection.page" [pageSize]="largeCollection.pageSize" (changePage)="changePage($event, largeCollection)"></mz-pagination>
    </div>
    <div class="example">
        <app-pagination-example></app-pagination-example>
    </div>
</article>

<article>
    <h2>Usage</h2>
    <ul class="list-disc list-inside">
        <li>Display a maximum of 7 items. Each ellipsis count as one.</li>
        <li>Each page number should be a button.</li>
    </ul>
</article>