<h1>Radio buttons</h1>
<p>Radio buttons allows users to scan options quickly. First option should be default option, and should be selected.
</p>
<div class="example">
    <div class="radiobutton-list">
        <div>
            <label class="inline-flex items-center">
                <input class="form-radio" type="radio" checked="" name="radio-direct" value="1" />
                <span class="ml-2">Option 1</span>
            </label>
        </div>
        <div>
            <label class="inline-flex items-center">
                <input class="form-radio" type="radio" name="radio-direct" value="2" />
                <span class="ml-2">Option 2</span>
            </label>
        </div>
        <div>
            <label class="inline-flex items-center">
                <input class="form-radio" type="radio" name="radio-direct" value="3" />
                <span class="ml-2">Option 3</span>
            </label>
        </div>
    </div>
</div>