<h1>Checkbox</h1>
<div class="example">
    <label class="field field-checkbox"> <input type="checkbox" class="field-control" /> <span
            class="field-label">Single checkbox label here</span> </label>
</div>
<div class="example">
    <fieldset class="option-list">
        <legend>Checkbox list label here</legend>
        <div>
            <label class="inline-flex items-center">
                <input class="form-checkbox" type="checkbox" />
                <span class="ml-2">Option 1</span>
            </label>
        </div>
        <div>
            <label class="inline-flex items-center">
                <input class="form-checkbox" type="checkbox" />
                <span class="ml-2">Option 2</span>
            </label>
        </div>
        <div>
            <label class="inline-flex items-center">
                <input class="form-checkbox" type="checkbox" />
                <span class="ml-2">Option 3</span>
            </label>
        </div>
    </fieldset>
</div>