<h1>Checkbox</h1>
<div class="example">
    <label class="field">
        <input type="checkbox" class="form-checkbox" />
        <span class="checkbox-label">Single checkbox</span>
    </label>
</div>
<div class="example">
    <div class="option-list">
        <div class="field-label">Checkbox list</div>
        <label class="field">
            <input class="form-checkbox" type="checkbox" />
            <span class="checkbox-label">Option 1</span>
        </label>

        <label class="field">
            <input class="form-checkbox" type="checkbox" />
            <span class="checkbox-label">Option 2</span>
        </label>

        <label class="field">
            <input class="form-checkbox" type="checkbox" />
            <span class="checkbox-label">Option 3</span>
        </label>
    </div>

    <fieldset class="fieldset option-list">
        <legend>Checkbox list with a legend</legend>

        <label class="field">
            <input class="form-checkbox" type="checkbox" />
            <span class="checkbox-label">Option 1</span>
        </label>

        <label class="field">
            <input class="form-checkbox" type="checkbox" />
            <span class="checkbox-label">Option 2</span>
        </label>

        <label class="field">
            <input class="form-checkbox" type="checkbox" />
            <span class="checkbox-label">Option 3</span>
        </label>
    </fieldset>
</div>
