<header>
  <h1>Form Controls</h1>
</header>

<article>
  <h2>Input</h2>
  <p>
    Use <code>input</code> with the appropriate <code>type</code> value to support accessibility.
  </p>
  <div class="example">
    <form>
      <input type="text" class="field-control">
    </form>
  </div>
</article>

<article>
  <h2>Textarea</h2>
  <p>Use textarea to collect long text content from user.</p>
  <div class="example">
    <form>
      <textarea class="field-control" rows="3"></textarea>
    </form>
  </div>
</article>

<article>
  <h2>Selection related controls</h2>
  Several controls can be used when we need to collect a selection or selections from the user:
  <ul class="list-disc list-inside">
    <li>toggle</li>
    <li>radio button</li>
    <li>select</li>
    <li>multiselect</li>
    <li>checkbox</li>
  </ul>
  Each is different and should be used appropriately.


  <div class="grid grid-rows-6 grid-flow-col mt-8 control-decision-table">
    <div></div>
    <div>how many options</div>
    <div>how many selections user can make</div>
    <div>is there a default option</div>
    <div>relationship between choices</div>
    <div>when does selection take effect</div>

    <div>Radio buttons</div>
    <div>2-4</div>
    <div>1</div>
    <div>yes</div>
    <div>mutually exclusive</div>
    <div>after user submits form</div>

    <div>Select</div>
    <div>more than 4</div>
    <div>1</div>
    <div>no, unless there's an option that we expect almost all users will select</div>
    <div>mutually exclusive</div>
    <div>after user submits form</div>

    <div>Checkboxes</div>
    <div>2-4</div>
    <div>0-all</div>
    <div>no</div>
    <div>independent</div>
    <div>after user submits form</div>

    <div>Multiselect</div>
    <div>more than 4</div>
    <div>0-all</div>
    <div>no</div>
    <div>independent</div>
    <div>after user submits form</div>

    <div>Single checkbox</div>
    <div>1</div>
    <div>2 (on/off)</div>
    <div>yes</div>
    <div>mutually exclusive</div>
    <div>after user submits form</div>

    <div>Toggle</div>
    <div>1</div>
    <div>2 (on/off)</div>
    <div>yes</div>
    <div>mutually exclusive</div>
    <div>immediately</div>
  </div>

  <h3>Toggle</h3>
  <div class="example">
    TODO
  </div>

  <h3>Radio buttons</h3>
  Radio buttons allows users to scan options quickly.
  <div class="example">
    <div>
      <label class="inline-flex items-center">
        <input class="form-radio" type="radio" checked="" name="radio-direct" value="1">
        <span class="ml-2">Option 1</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input class="form-radio" type="radio" name="radio-direct" value="2">
        <span class="ml-2">Option 2</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input class="form-radio" type="radio" name="radio-direct" value="3">
        <span class="ml-2">Option 3</span>
      </label>
    </div>
  </div>

  <h3>Select</h3>
  <p>A select is similar to radio button list, but allows reducing space needs. A label should be used when using a
    select. Default value should be populated when it's what most users will use.
    Group options when it helps.</p>
  <div class="example">
    <form>
      <label class="field">
        <span class="field-label">Color</span>
        <select class="field-control">
          <option selected disabled>Select a color...</option>
          <option>Red</option>
          <option>Green</option>
        </select>
      </label>
    </form>
  </div>
  <h3>Checkbox</h3>
  <div class="example">
    <div>
      <label class="inline-flex items-center">
        <input class="form-checkbox" type="checkbox" checked="">
        <span class="ml-2">Option 1</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input class="form-checkbox" type="checkbox">
        <span class="ml-2">Option 2</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input class="form-checkbox" type="checkbox">
        <span class="ml-2">Option 3</span>
      </label>
    </div>
  </div>
  <h3>
    Multiselect
    <div class="example">
      TODO
    </div>
  </h3>
</article>

<article>
  <h2>Notes</h2>
  <ul>
    <li>May need select with typeahead, checkbox listbox</li>
    <li>some of the css and html structure here needs cleanup</li>
    <li>Decision table is revised based on https://www.nngroup.com/articles/toggle-switch-guidelines/</li>
  </ul>
</article>