<h1>Description list</h1>
<p>
    Use a description list when displaying readonly data fields.
</p>


<div class="example">
    <section class="max-w-md">
        <h3>Shipment</h3>
        <dl class="dl">
            <div>
                <dt>Shipment number</dt>
                <dd>3050000</dd>
            </div>
            <div>
                <dt>Created</dt>
                <dd>12/15/2021</dd>
            </div>
            <div>
                <dt>Status</dt>
                <dd>Delivered</dd>
            </div>
            <div>
                <dt>Recipent</dt>
                <dd>Jane Doe</dd>
            </div>
        </dl>
    </section>
</div>