<h1>
    Toggle
</h1>
<div class="prose">
    Use a toggle to switch between enabled or disabled states, and have the change take effect immediately.
</div>

<article>
    <h2>Default</h2>
    <div class="example">
        <img src="https://media.nngroup.com/media/editor/2018/06/19/google-calendar.png">
        <em>image from nngroup</em>
        <p>
            // TODO: add example. Should have parts button and description. Should be a button with a role of switch.
        </p>
    </div>
</article>