<h1>Select</h1>
<p>A select is similar to radio button list, but allows reducing space needs. A label should be used when using
    a select. Default value should be populated when it's what most users will use. Group options when it helps.
</p>
<div class="example">
    <form class="form">
        <label class="field">
            <span class="field-label">Color</span>
            <select class="form-select">
                <option selected disabled>Select a color...</option>
                <option>Red</option>
                <option>Green</option>
            </select>
        </label>
    </form>
</div>