@use 'mixins/dropdown' as dropdown;


.menu {
    @include dropdown.overlay();
    padding: 0;

    .cdk-menu-item {
        width: 100%;
        display: block;
        padding: 0.5rem 1rem;
        text-align: left;

        &:hover {
            background-color: var(--color-neutral-100);
        }

        &:active {
            background-color: var(--color-neutral-200);
        }
    }
}
