@use "mixins/form" as form;
@use "mixins/utilities" as u;

.form-input, .form-textarea, .form-select {
    @include form.field-control();

    &:focus {
        @include form.field-control-focused();
    }
}

.input-group {
    display: flex;
    align-items: center;
    @include u.gap(2);
    @include form.field-control();

    &:focus-within {
        @include form.field-control-focused();
    }

    .form-input {
        flex-grow: 1;
    }

    .form-input, .form-input:focus, .form-select, .form-select:focus, .button, .button:focus {
        border-color: transparent;
        --tw-ring-color: transparent;
        --tw-ring-offset-width: 0px;
    }

    & > *:first-child {
        @include u.pl(3);
    }

    & > *:last-child {
        @include u.pr(3);
    }
}

.checkbox-label, .radio-label {
    @include u.ml(2);
}

.form {
    max-width: 28rem;

    // TODO
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include u.mt(3);
        @include u.mb(0);
    }

    header {
        @include u.mb(2);
    }

    .description {
        @include u.text(sm);
        @include u.color(subtle);
    }

    .footer {
        @include u.mt(4);
        @include u.mb(3);
    }
}

.field {
    display: block;
    @include u.py(3);
}

.field-option {
    display: block;
    @include u.py(0.5);
}

.field-instructions {
    @include u.color(subtler);
    @include u.text(sm);
    @include u.mt(1);
    display: block;
}

.option-list .field {
    @include u.py(1);
}

.field-label {
    @include u.text(sm);
    @include u.color(subtle);
    @include u.font-weight(medium);
    @include u.mb(1);
    display: block;
}

.form-input,
.form-select,
.form-textarea {
    width: 100%;
}

.fieldset {
    @include u.mt(6);

    legend {
        @include u.color(subtle);
        @include u.font-weight(medium);
        @include u.text(sm);
        text-transform: uppercase;
        letter-spacing: 0.025em;
    }
}

// code below needs to be validated again
.form-message {
    @include u.p(1);
    display: block;

    // this is temporary
    &.success {
        @include u.color(success);
    }
    &.success svg {
        @include u.color(success);
        display: inline-block;
    }
    &.failed svg {
        @include u.color(danger);
        display: inline-block;
    }
}

.field-error {
    @include u.mt(1);
    display: block;
    @include u.color(danger);
}

.form {
    .ng-submitted .ng-invalid:not(:focus),
    .ng-touched.ng-invalid:not(:focus) {
        border-color: var(--color-danger);
    }
}
