<header>
    <h1>Tabs</h1>
    <div class="prose">
        Use tabs to alternate between views within the same context.
    </div>    
</header>

<article>
    <h2>Example</h2>
    <div class="example">
        <!-- your navs bound to current route fragments -->
        <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs">
            <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
                <a ngbNavLink [routerLink]="link.link" [fragment]="link.fragment">{{ link.title }}</a>
            </li>
        </ul>

        <!-- and an actual outlet elsewhere -->
        <router-outlet></router-outlet>
    </div>
    <div class="example-template">
        <code>
            <pre>
                &lt;ul ngbNav class="nav-tabs"&gt;
                    ...
                &lt;ul&gt;
            </pre>
        </code>
    </div>
</article>

<article>
    <div class="example">
        <!-- your navs bound to current route fragments -->
        <ul ngbNav #nav2="ngbNav" [activeId]="'tab1'" class="nav-tabs">
            <li [ngbNavItem]="'tab1'">
                <button ngbNavLink>Tab 1</button>
                <ng-template ngbNavContent>
                    Morbi id nunc ex. Praesent molestie risus odio, vitae interdum enim tristique id. Nullam feugiat convallis facilisis. Aliquam in condimentum nisl. Integer dui risus, consectetur ac rhoncus nec, lobortis interdum mi. Sed eget nisi ac enim bibendum facilisis. Aliquam vitae sem a eros ullamcorper rhoncus. Sed lobortis, massa ac pharetra molestie, dolor ex tincidunt dui, at semper massa nulla ut lacus. Nam varius risus massa, ac bibendum diam cursus vel. Proin euismod facilisis porta. Maecenas quam nunc, tempor sit amet euismod in, egestas eu ante. Pellentesque vel risus fringilla, vehicula quam a, maximus risus. Mauris venenatis magna orci. Praesent in mollis magna.
                </ng-template>
            </li>
            <li [ngbNavItem]="'tab2'">
                <button ngbNavLink>Tab 2</button>
                <ng-template ngbNavContent>
                    Donec eu luctus augue, at pharetra sem. Ut mi elit, ornare consectetur enim non, vehicula iaculis justo. 
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav2"></div>
    </div>
</article>

<article>
    <h2>Usage</h2>
    <ul class="list-inside list-disc">
        <li>Tabs should be parallel in nature</li>
        <li>Tabs should be ordered by priority, in a way that makes sense to users</li>
        <li>Tab names should be concise</li>
        <li>Use sentence case for tab titles</li>
        <li>See <a href="https://ng-bootstrap.github.io/#/components/nav/overview">ng-bootstrap</a> for component api and examples</li>
    </ul>
</article>