<h1>Text input</h1>
<p class="text-block">Use <code>input</code> with the appropriate <code>type</code> value to support accessibility
  and leverage native behaviors. Choose between <code>text</code>, <code>email</code>, <code>number</code>,
  <code>password</code>, <code>tel</code>, and <code>url</code>. Default is <code>text</code>. Use a mask to help
  user with correct format when applicable.
</p>

<h2>Overview</h2>
<app-demo-container [component]="textInputDemo"></app-demo-container>

<h2>Styles</h2>
<h3>Lengths</h3>
TODO

<h2>Masks</h2>
TODO

<h2>Input groups</h2>
<div class="example">
  <form class="form" #inputGroupsForm="ngForm">
    <label class="field">
      <span class="field-label">Query</span>
      <div class="field-control-combo">
        <input type="text" class="field-control" />
        <div class="field-control-addon">
          <button class="button button-secondary button-icon">
            <mz-svg-icon key="search"></mz-svg-icon>
          </button>
        </div>
      </div>
    </label>

    <label class="field">
      <span class="field-label">Query</span>
      <div class="field-control-group invalid">
        <input type="text" class="field-control" required [(ngModel)]="model.query" name="model.query" />
        <div class="field-control-addon">
          <button class="button button-secondary" type="button">
            Search
          </button>
        </div>
      </div>
      <small *ngIf="inputGroupsForm.controls.query?.errors"
        class="field-error text-danger">{{inputGroupsForm.controls.query.errors | json}}</small>
    </label>

    <label class="field">
      <span class="field-label">Username</span>
      <div class="field-control-group">
        <input type="text" class="field-control" required [(ngModel)]="model.username" name="model.username" />
        <div class="field-control-addon">
          <mz-spinner></mz-spinner>
        </div>
      </div>
    </label>

    <label class="field">
      <span class="field-label">Email</span>
      <div class="field-control-group">
        <div class="field-control-addon">
          <mz-svg-icon key="at-symbol"></mz-svg-icon>
        </div>
        <input type="text" class="field-control" />
        <div class="field-control-addon">
          <mz-spinner></mz-spinner>
        </div>
      </div>
    </label>

    <label class="field">
      <span class="field-label">Amount</span>
      <div class="field-control-group">
        <div class="field-control-addon">
          <span>$</span>
        </div>
        <input type="text" class="field-control" />
      </div>
    </label>

    <label class="field">
      <span class="field-label">Amount</span>
      <div class="field-control-group">
        <input type="text" class="field-control" />
        <div class="field-control-addon">
          <span class="sr-only">Currency</span>
          <select name="currency" class="field-control">
            <option>USD</option>
            <option>CAD</option>
            <option>EUR</option>
          </select>
        </div>
      </div>
    </label>
  </form>
</div>
