<h1>Text input</h1>
<p class="text-block">Use <code>input</code> with the appropriate <code>type</code> value to support accessibility and leverage native behaviors. Choose between <code>text</code>, <code>email</code>, <code>number</code>, <code>password</code>, <code>tel</code>, and <code>url</code>. Default is <code>text</code>. Use a mask to help user with correct format when applicable.</p>

<h2>Overview</h2>
<app-demo-container [component]="textInputDemo"></app-demo-container>

<h2>Styles</h2>
<h3>Lengths</h3>
TODO

<h2>Masks</h2>
TODO

<h2>Input groups</h2>
<div class="example">
    <form class="form">
        <!--<label class="field">
          <span class="field-label">Query</span>
          <div class="flex">
              <input type="text" class="form-input" />
              <button class="button button-secondary button-icon">
                  <mz-svg-icon key="search"></mz-svg-icon>
              </button>
          </div>
        </label>-->

        <label class="field">
            <span class="field-label">Username</span>
            <div class="input-group">
                <input type="text" class="form-input" />
                <mz-spinner></mz-spinner>
            </div>
        </label>

        <label class="field">
            <span class="field-label">Email</span>
            <div class="input-group">
                <mz-svg-icon key="at-symbol"></mz-svg-icon>

                <input type="text" class="form-input" />

                <mz-spinner></mz-spinner>
            </div>
        </label>

        <label class="field">
            <span class="field-label">Amount</span>
            <div class="input-group">
                <span>$</span>
                <input type="text" class="form-input" />
            </div>
        </label>

        <label class="field">
            <span class="field-label">Amount</span>
            <div class="input-group">
                <input type="text" class="form-input grow" />
                <select name="currency" class="form-select w-32">
                    <option>USD</option>
                    <option>CAD</option>
                    <option>EUR</option>
                </select>
            </div>
        </label>

        <label class="field">
            <span class="field-label">Appointment date</span>
            <div class="input-group">
                <input type="date" class="form-input grow" />
                <input type="time" class="form-input grow" />
            </div>
        </label>
    </form>
</div>
