<div class="flex items-center flex-shrink-0 px-4 justify-center h-24 w-auto">
    <a href="/"><img src="./assets/logo-muzieh.svg" class="h-24 w-auto"></a>
</div>
<nav>
    <ol>
        <li *ngFor="let parent of links">
            <div class="title" *ngIf="parent.name">{{parent.name}}</div>
            <ul *ngIf="parent.children">
                <li *ngFor="let child of parent.children">
                    <a routerLink="{{child.link}}" routerLinkActive="active" [ngClass]="{'italic': child.inactive}">{{child.name}}</a>
                </li>
            </ul>
        </li>
    </ol>
</nav>