<h1>Breakpoints</h1>
<p>
    Use breakpoints to build responsive interfaces.
</p>

<article>
    <h2>Breakpoints</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Min-width</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sm</td>
                <td>576px</td>
                <td>Small devices (landscape phones)</td>
            </tr>
            <tr>
                <td>md</td>
                <td>768px</td>
                <td>Medium devices (tablets)</td>
            </tr>
            <tr>
                <td>lg</td>
                <td>992px</td>
                <td>Large devices (desktops)</td>
            </tr>
            <tr>
                <td>xl</td>
                <td>1200px</td>
                <td>X-Large devices (large desktops)</td>
            </tr>
            <tr>
                <td>2xl</td>
                <td>1400px</td>
                <td>XX-Large devices (larger desktops)</td>
            </tr>
        </tbody>
    </table>
</article>

<article>
    <h2>Code</h2>
    <p>Because the breakpoint system is mobile first, nothing needs to be done to apply styles to small screens. See <a
            href="https://tailwindcss.com/docs/responsive-design">tailwind documentation</a> for more usage details.</p>
</article>