<header>
    <h1>Accessibility</h1>
    <p class="prose">Accessibility is currently only partially met. Still work in progress.</p>
</header>

<article>
    <section>
        <h2>The 4 principles of accessibility</h2>
        <ul class="list-inside list-disc">
            <li>Perceivable</li>
            <li>Operable</li>
            <li>Understandable</li>
            <li>Robust</li>
        </ul>
    </section>
</article>

<article>
    <h2>Code</h2>
    <h3>Visually hidden content</h3>
    <p>Use <code>.sr-only</code> for elements only meant for screen readers. Use <code>.not-sr-only</code> to undo.</p>

    <h3>Images</h3>
    <p class="text-block">
        For informative images, provide concise alternative text that serves equivalent purpose of the image. Decorative images do not need alternative text. See <a href="https://www.w3.org/TR/WCAG21/#text-alternatives">WCAG 2.1 Guideline 1.1.1</a>.
    </p>
</article>

<article>
    <h2>Resources</h2>
    <ul class="list-disc list-inside">
        <!--<li><a href="https://www.w3.org/WAI/tutorials/">Web Accessibility Tutorials</a></li>
        <li><a href="https://www.a11yproject.com/checklist">Accessibility checklist</a></li>
        <li><a href="https://www.w3.org/TR/wai-aria-1.1">Accessible Rich Internet Applications (WAI-ARIA) 1.1</a>
        </li>
        <li><a href="https://www.w3.org/TR/wai-aria-practices">WAI-ARIA Authoring Practices 1.1</a></li> -->
        <li><a href="https://www.w3.org/WAI/WCAG21/quickref/">How to Meet WCAG (Quick Reference)</a></li>
        <li><a href="https://www.w3.org/WAI/WCAG21/Understanding/">Understanding WCAG 2.1</a></li>
        <li><a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines 2.1</a></li>
        <li><a href="https://a11ysupport.io/">Accessibility Support</a></li>
    </ul>
</article>