<header>
    <h1>Typography</h1>
</header>

<article>
    <h2>Font Family</h2>
    <div class="prose">
        Roboto is the font used.
    </div>
</article>

<article>
    <h2>Font formats</h2>

    <table>
        <thead>
            <tr>
                <th>Style</th>
                <th>Usage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>em</code></td>
                <td><em>Use this to stress emphasis.</em></td>
            </tr>
            <tr>
                <td><code>strong</code></td>
                <td><strong>Use this to stress importance.</strong></td>
            </tr>
            <tr>
                <td><code>small</code></td>
                <td><small>Use this for secondary supporting text such as help text in form fields.
                        It should be used sparingly.</small></td>
            </tr>
            <tr>
                <td><a href="#">Link</a></td>
                <td>Use this to take user to another location. Purpose of link can be determined from link text. This should not be used for actions.</td>
            </tr>
        </tbody>
    </table>
</article>
<article>
    <h2>Headings</h2>
    <div class="prose">Use headings h1 - h6 for titles and subtitles. Each page should have one h1. Heading ranks should
        not be skipped. All headings should reflect the document or section's content and purpose.</div>
    <div class="example">
        <h1>Main page title</h1>
        <p>Use <code>h1</code> for main title of the page. Each page should have exactly one.</p>
        <h2>Key functionality headings</h2>
        <p>Use <code>h2</code> to idenfiy key functionality on a page</p>
        <h3>Sub-section and field group headings</h3>
        <p>Use <code>h3</code> if you have multiple logical groupings of content on the page.</p>
        <h4>H4 headings</h4>
        <p>Need use case of <code>h4</code></p>
        <h5>H5 headings</h5>
        <p>Need use case of <code>h5</code></p>
        <h6>H6 headings</h6>
        <p>Need use case of <code>h6</code></p>
    </div>
</article>
<article>
    <h2>Lists</h2>
    <div class="example">
        <ul class="list-disc list-inside">
            <li>This is a <code>ul</code> styled with <code>`list-disc list-inside`</code></li>
            <li>It should be used for bulleted unordered lists</li>
        </ul>
        <ol class="list-decimal list-inside">
            <li>This is a <code>ol</code> styled with <code>`list-decimal list-inside`</code></li>
            <li>It should be used when sequence is important for the list items</li>
        </ol>
    </div>
</article>
<article>
    <h2>Content</h2>
    <ul class="list-disc list-inside">
        <li>Blocks of text shoud be no more than 80 characters. See <a href="https://www.w3.org/WAI/WCAG21/Understanding/visual-presentation.html">WCAG 2.1 Understanding success criterion 1.4.8: Visual Presentation</a> for reasoning.</li>
        <li>Should default to left justified, since English readers read from left to right</li>
    </ul>
</article>

<article>
    <h2>TODO</h2>
    <ul>
        <li>Notes: Line height (line spacing) to at least 1.5 times the font size;
            Spacing following paragraphs to at least 2 times the font size;
            Letter spacing (tracking) to at least 0.12 times the font size;
            Word spacing to at least 0.16 times the font size.</li>
    </ul>
</article>