<header>
    <h1>Button</h1>
    <p class="prose">
        Use a button to communicate actions and allow users to take an action.
    </p>
</header>

<article>
    <h2>Variants</h2>
    <p>
        Each button variant serves a specific purpose, they should be used accordingly.
    </p>
    <h3>Primary</h3>
    <p class="text-block">Use primary for primary action of a container. Primary actions are actions that help user
        complete a task, or actions that users are encouraged to take. Containers should contain at most one
        primary button (not including application header and modal).</p>
    <div class="example">
        <button class="button button-primary">Primary button</button>
    </div>

    <h3>Secondary/Default</h3>
    <p class="text-block">Default button to use for actions. They can be used alone or as a secondary button along with
        a primary
        button.
    </p>
    <div class="example">
        <button class="button button-secondary">Secondary button</button>
    </div>

    <!--<h3>Link</h3>
    <p>Use a `link` button when the action takes a user to another page.</p>
    <div class="example">
        <button class="button button-link">Link button</button>
    </div>-->

    <h3>Danger</h3>
    <p class="text-block">Use a danger button for the primary action when it would causes destruction on the data.
        This is usually
        seen in confirmation modals.</p>
    <div class="example">
        <button class="button button-danger">Danger button</button>
    </div>

    <h3>Warning</h3>
    <p class="text-block">Use a `warning` button to warn the user when the associated action would cause significant
        changes. This is
        usually seen in modals.</p>
    <div class="example">
        <button class="button button-warning">Warning button</button>
    </div>
</article>

<article>
    <h2>States</h2>
    <div class="example">
        <h3>Disabled</h3>
        <p>Disabled buttons can cause accessibility problems and should be avoided.</p>
        <h3>Loading</h3>
        <div class="button-list">
            <button class="button button-primary loading" (click)="onButtonClick()">
                <div class="button-loading-overlay">
                    <svg class="animate-spin m-auto h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg>
                </div>
                Primary button
            </button>
            <button class="button button-secondary loading" (click)="onButtonClick()">
                <div class="button-loading-overlay">
                    <svg class="animate-spin m-auto h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg>
                </div>
                Secondary button
            </button>
        </div>
    </div>
</article>

<article>
    <h2>Button group</h2>
    <div class="example">
        <div class="button-list">
            <button class="button button-primary">Primary button</button>
            <button class="button button-secondary">Secondary button</button>
        </div>
    </div>
    <p>Use <code>.button-list</code> when displaying a group of buttons to enforce consistent button spacing.</p>
</article>

<article>
    <h2>Button with icon</h2>
    <p class="text-block">Use button with an icon when the visual presentation helps conveying meaning quicker and
        attention is needed for
        the action.</p>
    <div class="example">
        <div class="button-list">
            <button class="button button-primary">
                <mz-svg-icon key="pencil"></mz-svg-icon>
                Edit
            </button>
            <button class="button button-secondary">
                <mz-svg-icon key="pencil"></mz-svg-icon>
                Edit
            </button>
        </div>
    </div>
</article>

<article>
    <h2>Icon button</h2>
    <p class="text-block">An icon can be used alone in a button if user has a global understanding of what the icon
        means, and using it without text brings benefits.</p>
    <div class="example">
        <div class="button-list">
            <button class="button button-primary button-icon">
                <mz-svg-icon key="menu" type="outline"></mz-svg-icon>
            </button>
            <button class="button button-secondary button-icon">
                <mz-svg-icon key="pencil"></mz-svg-icon>
            </button>
        </div>
    </div>
</article>

<article>
    <h2>Usage</h2>
    <ul class="list-inside list-disc">
        <li>Do not use buttons for navigational elements (this does not include moving users through a sequence of
            screens). Use <code>&lt;a&gt;</code> when the action takes the user to another page.</li>
    </ul>
    <h3>Alignment</h3>
    <ul class="list-inside list-disc">
        <li>Default to Left align. When there are multiple, buttons should be ordered by importance from left to right
        </li>
        <li>Right align button when it's inside a wizard or modal. When there are multiple, buttons should be ordered by
            importance from right to left.</li>
    </ul>
    <h3>Content guidelines</h3>
    <p class="text-block">See <a href="https://atlassian.design/components/button/usage#content-guidelines">Atlassin
            content guidelines for examples</a></p>
    <ul class="list-inside list-disc">
        <li>Use concise, easy to scan, and clear button labels</li>
        <li>Use sentence-case capitalization</li>
        <li>Use active verbs or phrases that clearly indicate action</li>
    </ul>
</article>