@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    h1 {
        @apply text-2xl font-medium mt-8;
    }

    h2 {
        @apply text-xl font-medium mt-8;
    }

    h3 {
        @apply text-lg font-medium mt-8;
    }

    h4 {
        @apply text-base font-semibold mt-8;
    }

    h5 {
        @apply text-sm font-semibold mt-5;
    }

    h6 {
        @apply text-sm font-semibold mt-5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-1;
    }

    a {
        @apply text-blue-500 hover:text-blue-900 hover:underline;
    }

    p {
        @apply my-2;
    }

    small {
        @apply text-sm;
    }

    // TODO
    //ul { @apply list-disc list-inside; }
    //ol { @apply list-decimal list-inside; }

    details summary {
        cursor: pointer;
    }

    strong {
        @apply font-medium;
    }
}

@layer components {
    .breadcrumbs ol {
        @apply flex space-x-4;
    }

    .empty-state,
    .error-state {
        @apply py-8 text-center;
    }

    .dl-horizontal {
        dt,
        dd {
            @apply inline-block p-3;
        }

        dt {
            @apply w-48 align-top;
        }

        & > *:nth-child(odd) {
            @apply bg-gray-100;
        }
    }

    .dl-stacked {
        dt {
            @apply text-gray-600 mt-2 tracking-wide text-sm;
        }
        dd {
            @apply mb-2;
        }
    }

    .table-wrapper {
        @apply max-w-full overflow-x-auto relative;
    }

    .table {
        @apply w-full text-left border-collapse;

        caption {
            @apply text-left;
        }

        tbody {
            @apply align-baseline;

            tr:nth-child(even) {
                @apply bg-gray-50;
            }
        }

        tr {
            @apply border-b border-gray-200;
        }

        td {
            @apply py-3 px-2;
        }

        th {
            @apply top-0 text-sm font-semibold text-gray-500 p-2;
        }

        thead tr {
            @apply border-gray-500 py-3;
        }

        caption {
            @apply mb-4;
        }
    }

    .alert {
        @apply border-l-4 pl-8 py-4;

        .title {
            @apply font-medium py-1;
        }

        &.success {
            @apply text-success bg-green-50 border-green-900;
        }
    }

    .text-block {
        max-width: 90ch;
    }
}

// icon
.icon {
    @apply inline-block;
}

.icon-solid {
    @apply h-5 w-5; 
}

.icon-outline {
    @apply h-6 w-6;
}

.page > header {
    @apply py-6;
}

// breadcrumbs
.breadcrumbs li:not(:last-child):after {
    content: '/';
    @apply text-gray-400 pl-4;
}

.breadcrumbs a {
    @apply text-gray-600;
}

// form
form {
    @apply max-w-md;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mt-3 mb-0;
    }

    header {
        @apply mb-2;
    }

    .description {
        @apply text-gray-600 text-sm;
    }

    .footer {
        @apply mt-4 mb-3;
    }
}

.field {
    @apply block py-1 text-sm;

    .help-text {
        @apply text-gray-500 block mt-1;
    }
}

.field-checkbox {
    & input {
        @apply mr-1;
    }
}

.field-label {
    @apply text-gray-600 font-medium;
}

.field-control:not([type='checkbox']) {
    @apply mt-1 block w-full;
}

.fieldset {
    @apply mt-6;

    legend {
        @apply text-gray-700 tracking-wide uppercase font-medium text-sm;
    }
}

.option-list {
    @apply block py-1;

    legend {
        @apply text-gray-600 text-sm font-medium;
    }
}

.form-message {
    @apply p-1 block;

    // this is temporary
    &.success {
        @apply text-success;
    }
    &.success svg {
        @apply text-success inline-block;
    }
    &.failed svg {
        @apply text-danger inline-block;
    }
}

.field-error {
    @apply mt-1 block;
}

.ng-submitted .ng-invalid:not(:focus),
.ng-touched.ng-invalid:not(:focus) {
    @apply border-danger;
}

// buttons
.btn-primary,
.btn-secondary,
.btn-danger,
.btn-warning,
.btn-link {
    @apply py-2 px-3 border font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 text-center;
}

.btn-primary {
    @apply text-white shadow-sm bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 active:bg-blue-700;
}

.btn-secondary {
    @apply text-secondary shadow-sm border-transparent bg-gray-200 hover:bg-gray-300 focus:ring-blue-500 active:bg-gray-300;
}

.btn-danger {
    @apply text-white shadow-sm bg-red-500 hover:bg-red-600 focus:ring-red-500 active:bg-red-600;
}

.btn-warning {
    @apply text-white shadow-sm bg-yellow-500 hover:bg-yellow-600 focus:ring-yellow-500 active:bg-yellow-600;
}

.btn-link {
    @apply hover:underline text-primary border-transparent;
}

.button-list {
    button:not(last-child) {
        @apply mr-4 mb-2;
    }
}

button.loading {
    @apply pointer-events-none cursor-wait relative;
}

.button-loading-overlay {
    @apply absolute inset-0 flex items-center justify-center;
}

.btn-secondary .button-loading-overlay {
    @apply bg-gray-200;
}

.btn-primary .button-loading-overlay {
    @apply bg-blue-700;
}

.btn-icon .icon {
    @apply m-0;
}

.nav-tabs {
    @apply block border-b-gray-300 border-b;
}

.nav-item {
    @apply inline-block text-center;
}

.nav-link {
    @apply hover:no-underline inline-block text-gray-500 py-2 px-6 border-b border-b-transparent hover:border-b-gray-600;
    min-width: 8rem;
}

.nav-link.active {
    @apply text-primary border-b-primary border-b font-medium;
}

.dropdown-menu {
    display:none;
}

.dropdown-menu.show {
    z-index:1000;
    float:left;
    min-width: 10rem;
    padding: .5rem 0;
    display: block;
    background-color: white;
}

.dropdown-item {
    display:block;
    padding: 0.5rem;
}