<h1>Table</h1>

<article>
    <h2>Default</h2>
    <div class="example">
        <table>
            <thead>
                <tr>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>01</td>
                    <td>01</td>
                </tr>
            </tbody>
        </table>
    </div>
</article>

<article>
    <h2>Notes</h2>
    <ul>
        <li>TODO: option for hover css</li>
    </ul>
</article>