<h1>Table</h1>
<p>

</p>

<article>
    <h2>Default</h2>
    <div class="example">
        <table>
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Customer</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>53961111</td>
                    <td>Jane Doe</td>
                    <td>01/01/2022</td>
                </tr>
                <tr>
                    <td>53961121</td>
                    <td>John Doe</td>
                    <td>12/31/2021</td>
                </tr>
                <tr>
                    <td>53971121</td>
                    <td>Joe Shmoe</td>
                    <td>12/30/2021</td>
                </tr>
            </tbody>
        </table>
    </div>
</article>

<article>
    <h2>States</h2>
    <h3>Loading</h3>
    <h3>Empty</h3>
    <h3>Error</h3>
</article>

<article>
    <h2>Best practices</h2>
    
</article>

<article>
    <h2>Notes</h2>
    <ul>
        <li>TODO: option for hover css</li>
    </ul>
</article>