<h1>Table</h1>
<p>

</p>

<article>
    <h2>Default</h2>
    <div class="example">
        <div class="table-wrapper">
            <table class="table">
                <caption>1-4 of 4 orders</caption>
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Customer</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Store</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>53961111</td>
                        <td>Jane Doe</td>
                        <td>01/01/2022 5:15 PM</td>
                        <td>$80.05</td>
                        <td>Created</td>
                        <td>amazon.com</td>
                    </tr>
                    <tr>
                        <td>53961121</td>
                        <td>John Doe</td>
                        <td>12/31/2021 5:15 PM</td>
                        <td>$56.75</td>
                        <td>Partially filled</td>
                        <td>Broadway St 76 NY</td>
                    </tr>
                    <tr>
                        <td>53971146</td>
                        <td>Joe Shmoe</td>
                        <td>12/30/2021 5:15 PM</td>
                        <td>$327.63</td>
                        <td>Completed</td>
                        <td>Main St Salt Lake City</td>
                    </tr>
                    <tr>
                        <td>53971122</td>
                        <td>Jane Doe</td>
                        <td>12/30/2021 5:15 PM</td>
                        <td>$327.63</td>
                        <td>Canceled</td>
                        <td>South Jordan Pkwy Salt Lake City</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h3>Best practices</h3>
    <ul>
       <li>Some data need to align right to improve readability. TODO</li> 
    </ul>
</article>