<header>
    <h1>Accordion</h1>
    <p class="prose">
        Use an accordion to organize long content when it's important for users to be able to shorten the page.
    </p>
</header>

<h2>Example</h2>
<div class="example">
    <div class="details-list">
        <details open>
            <summary>I'm a header </summary>
            <div>
                I'm opened by default
            </div>
        </details>
        <details>
            <summary>Clicking anywhere on header</summary>
            <div>
                expands the summary
            </div>
        </details>
        <details>
            <summary>When to use an accordion?</summary>
            <div>
                Use an accordion to display a long set data when we want to collapse content and let user control what
                to see. Content can be lazy loaded.
            </div>
        </details>
    </div>
</div>