
<div class="example flexContainer">
  <div class="button-list flexRight">
    <button class="button button-primary button-icon" [ngClass]="!showCode ? 'button-primary' : 'button-secondary'" (click)="viewSource()">
      <mz-svg-icon key="code" type="outline"></mz-svg-icon>&nbsp;Code
    </button>
    <button class="button button-secondary button-icon" (click)="openSource()">
      <mz-svg-icon key="arrow-top-right-on-square" type="outline"></mz-svg-icon>&nbsp;Stackblitz
    </button>
  </div>
  <div class="flexFullRow">
    <ng-template appEmbed></ng-template>
  </div>

  <div>
    <pre *ngFor="let code of code$ | async">
      <code [highlight]="code.content" [languages]="[code.language]"></code>
    </pre>
  </div>
</div>



