<header>
    <h1>Spinner</h1>
    <p class="prose">
        Use a spinner to let users know content is being loaded.
    </p>
</header>

<article>
    <h2>Example</h2>
    <div class="example">
        <ul>
            <li>
                <span class="pr-4">medium (default)</span>
                <div class="max-w-sm">
                    <eb-spinner></eb-spinner>
                </div>
            </li>
            <li>
                <span class="pr-4">large</span>
                <div class="max-w-sm">
                    <eb-spinner size="large"></eb-spinner>
                </div>
            </li>
        </ul>
    </div>
    <div class="example-template">
        <code>
            <pre>
                &lt;eb-spinner size="large"&gt;&lt;/eb-spinner&gt;
                // size options are ['medium', 'large']
            </pre>
        </code>
    </div>

    <section>
        <h2>Best practices</h2>
        <ul class="list-inside list-disc">
            <li>There should only be a single spinner on a page at one time.</li>
            <li>Spinner should be placed inside container of the content being loaded.</li>
            <li>Spinner should appear when user action is initiated and disappear once content loads.</li>
        </ul>
    </section>
</article>