<header>
    <h1>Alerts</h1>
    <p class="prose">Use alerts to display an inline message to the user. Illustration of idea only. Styles and color selection need to be done.</p>
</header>

<article>
    <h2>Info</h2>
    <div class="example">
        <p class="text-block">Use an info alert to provide important information. This is the default to use. {{ todayDate | mzDateDisplay : 'concise' }}</p>
        <mz-alert title="Alert title" appearance="info">
            <p>A simple alert with text.</p>
        </mz-alert>

        <h2>Success</h2>
        <p class="text-block">Use a success alert to inform about successful system events or user actions.</p>
        <mz-alert title="Alert title" appearance="success">
            <p class="text-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </mz-alert>

        <h2>Danger</h2>
        <p class="text-block">Use a danger alert for critical errors, whether that be caused by user or system.</p>
        <mz-alert title="Optional title" appearance="danger">
            <p>A simple alert with text.</p>
        </mz-alert>

        <h2>Warning</h2>
        <p class="text-block">Use a warning alert to warn possible issue that requires attention.</p>
        <mz-alert title="Account locked" appearance="warning">
            <div>Account was locked due to excessive login attempts.</div>
        </mz-alert>
    </div>
</article>

<article>
    <h2>Anatomy</h2>
    <ol class="list-decimal list-inside">
        <li>
            <strong>Icon and background color</strong>
            <p>Icon and background color help user identify alert type.</p>
        </li>
        <li>
            <strong>Title</strong>
            <p>Title is clear and concise text that indicate purpose of alert message. Required.</p>
        </li>
        <li>
            <strong>Body (optional)</strong>
            <p>Body should be concise and informative text that describes the issue and actions user needs to take.</p>
        </li>
    </ol>
</article>

<article>
    <h2>TODOs</h2>
    <ul class="list-disc list-inside">
        <li>Accessibility support</li>
    </ul>
</article>
