<header>
    <h1>Spinner</h1>
    <p class="prose">Use a spinner to let users know content is being loaded.</p>
</header>

<article>
    <h2>Example</h2>
    <div class="example">
        <ul class="flex items-center gap-2 flex-col">
            <li>
                <mz-spinner></mz-spinner>
            </li>
            <li>
                <mz-spinner size="large"></mz-spinner>
            </li>
            <li>
                <mz-spinner appearance="secondary"></mz-spinner>
            </li>
            <li>
                <mz-spinner appearance="secondary" size="large"></mz-spinner>
            </li>
        </ul>
    </div>
    <div class="example-template">
        <code>
            <pre>
            &lt;li&gt;
                &lt;mz-spinner&gt;&lt;&#x2F;mz-spinner&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
                &lt;mz-spinner size&#x3D;&quot;large&quot;&gt;&lt;&#x2F;mz-spinner&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
                &lt;mz-spinner appearance&#x3D;&quot;secondary&quot;&gt;&lt;&#x2F;mz-spinner&gt;
            &lt;&#x2F;li&gt;
            &lt;li&gt;
                &lt;mz-spinner appearance&#x3D;&quot;secondary&quot; size&#x3D;&quot;large&quot;&gt;&lt;&#x2F;mz-spinner&gt;
            &lt;&#x2F;li&gt;
            </pre>
        </code>
    </div>
</article>
