// roughly buttons, need to match background color and use tailwind variables for spacing
@mixin button() {
    display: inline-flex; 
    position: relative; 
    padding-top: 0.625rem;
    padding-bottom: 0.625rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    gap: 0.5rem; 
    align-items: center; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500;    
    border-radius: var(--border-radius);
    cursor: pointer;
}