@mixin dialog-article() {
    display: flex;
    flex-direction: column;
    height:100%;
    overflow: auto;

    & > *:not(header, footer) {
        flex-grow: 1;
        padding: 1rem 1.5rem;
        overflow: auto;
    }

    header, footer {
        padding: 0.75rem 1.5rem;
    }
}